<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <entry key="url">https://giavang.org/trong-nuoc/</entry>
    <entry key="user.agent">Mozilla/5.0 (compatible; MyJavaScraper/1.0; +https://example.com)</entry>
    <entry key="timeout.ms">60000</entry>

    <entry key="output.path">D:/DataWarehouse/DW-Crawl/data/</entry>
    <entry key="input.path">D:/DataWarehouse/DW-Crawl/data/</entry>

    <entry key="output.mart">D:\ki1nam4\DW\Script\DW-Crawl\data\</entry>

    <entry key="db_user_root_name">root</entry>
    <entry key="db_user_root_pass">uBuntu@123a</entry>

    <entry key="db_staging">jdbc:mysql://157.245.199.151:3306/staging</entry>
    <entry key="db_control">jdbc:mysql://157.245.199.151:3306/control</entry>
    <entry key="db_mart">jdbc:mysql://157.245.199.151:3306/mart</entry>
    <entry key="db_warehouse">jdbc:mysql://157.245.199.151:3306/warehouse</entry>
    <entry key="db_staging">jdbc:mysql://157.245.199.151:3306/staging</entry>
</properties>